Repository ShaharEli/DrinkingGame, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, state, workflows, translation, hooks, api, components, screens, styles, utils, types, package, app, android, ios

chore(workflows): test
  src/hooks/redux.ts
  src/i18n/locales/en.json
  src/i18n/locales/he.json
  src/redux/store.ts
  src/screens/Settings/Settings.tsx
  src/styles/loadFonts.ts
  src/types/index.ts
  src/utils/autoBind.ts
Labels: state, translation, hooks, screens, styles, utils, types

feat(settings): added
  README.md
  src/api/auth.ts
  src/components/If.tsx
  src/components/MainBtn.tsx
  src/components/OutlinedTextField.tsx
  src/components/Txt.tsx
  src/hooks/index.ts
  src/hooks/useDebounce.ts
  src/i18n/locales/en.json
  src/i18n/locales/he.json
  src/redux/slices/userSlice.ts
  src/routes/RoutesContainer.tsx
  src/routes/Tab.tsx
  src/screens/Home/Home.tsx
  src/screens/HomeScreen/HomeScreen.tsx
  src/screens/Login/Login.tsx
  src/screens/Settings/Settings.tsx
  src/styles/styleComponents.tsx
  src/styles/themes/dark.ts
  src/styles/themes/light.ts
  src/types/styles.ts
  src/types/user.ts
  src/utils/autoBind.ts
Labels: state, translation, hooks, api, screens, styles, utils, types

feat(settings): change avatar added
  README.md
  src/api/auth.ts
  src/bin/index.ts
  src/components/AvatarPicker.tsx
  src/components/OutlinedTextField.tsx
  src/routes/RoutesContainer.tsx
  src/screens/Register/Register.tsx
  src/screens/Settings/Settings.tsx
  src/screens/Social/Social.tsx
  src/types/user.ts
  src/utils/cache.ts
  src/utils/formatters.ts
Labels: api, screens, utils, types

feat(navigation): added friends stack
  android/app/src/main/java/com/drinkinggame/MainApplication.java
  android/settings.gradle
  ios/Podfile
  ios/Podfile.lock
  src/components/FriendListItem.tsx
  src/components/Txts/Title.tsx
  src/components/Txts/Txt.tsx
  src/i18n/locales/en.json
  src/i18n/locales/he.json
  src/routes/Tab.tsx
  src/screens/AddFriend/AddFriend.tsx
  src/screens/Home/Home.tsx
  src/screens/Login/Login.tsx
  src/screens/Settings/Settings.tsx
  src/screens/Social/Social.tsx
  src/types/navigation.ts
  src/types/user.ts
  src/utils/formatters.ts
Labels: translation, screens, utils, types, android, ios

feat(husky): globaly added
  .eslintrc.js
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: package

feat(husky): globaly removed
  .eslintrc.js
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: package

added husky and lint-stagged
  app/ios/DrinkingGame.xcodeproj/project.pbxproj
  app/ios/DrinkingGame.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  app/ios/Podfile.lock
  app/package-lock.json
  app/package.json
  app/yarn.lock
  package.json
  server/package.json
  server/src/sockets/socketHandler.ts
Labels: package

added husky and lint-stagged
  .DS_Store
  .gitignore
  .husky/pre-commit
  app/.husky/.gitignore
  app/package-lock.json
  app/package.json
  app/yarn.lock
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Labels: package

.github/labeler.yml:

assets:
  - src/assets/**/*
state:
  - src/redux/**/*
workflows:
  - .github/workflows/**/*
translation:
  - src/i18n/**/*
hooks:
  - src/hooks/**/*
api:
  - src/api/**/*
components:
  - .github/components/**/*
screens:
  - src/screens/**/*
styles:
  - src/styles/**/*
utils:
  - src/utils/**/*
types:
  - src/types/**/*
package:
  - package.json
app:
  - App.tsx
android:
  - android/**/*
ios:
  - ios/**/*
