Repository ShaharEli/DrinkingGame, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, state, workflows, translation, hooks, client-api, components, screens, styles, utils, client-types, package, app, android, ios

.github/labeler.yml:

assets:
  - app/src/assets/**/*
state:
  - app/src/redux/**/*
workflows:
  - .github/workflows/**/*
translation:
  - app/src/i18n/**/*
hooks:
  - app/src/hooks/**/*
client-api:
  - app/src/api/**/*
components:
  - app/src/components/**/*
screens:
  - app/src/screens/**/*
styles:
  - app/src/styles/**/*
utils:
  - app/src/utils/**/*
client-types:
  - app/src/types/**/*
package:
  - app/package.json
app:
  - app/App.tsx
android:
  - app/android/**/*
ios:
  - app/ios/**/*

feat(all): lint on commit msg added
  .husky/commit-msg
  README.md
  app/src/bin/index.ts
  commitlint.config.js
  package-lock.json
  package.json
Labels: none

feat(api): friend request schema and enums added
  .DS_Store
  README.md
  app/.eslintrc.js
  app/src/api/SocketController.ts
  app/src/api/auth.ts
  app/src/api/friends.ts
  app/src/api/index.ts
  app/src/components/Avatar.tsx
  app/src/components/FriendListItem.tsx
  app/src/components/FriendsList.tsx
  app/src/hooks/useDebounce.ts
  app/src/i18n/locales/en.json
  app/src/i18n/locales/he.json
  app/src/redux/slices/userSlice.ts
  app/src/routes/PrivateRoutes.tsx
  app/src/routes/Tab.tsx
  app/src/screens/AddFriend/AddFriend.tsx
  app/src/screens/Settings/Settings.tsx
  app/src/types/api.ts
  app/src/types/common.ts
  app/src/types/user.ts
  app/src/utils/consts.ts
  server/.eslintrc.js
  server/src/controllers/auth.ts
  server/src/controllers/friends.ts
  server/src/db/schemas/friendRequest.ts
  server/src/db/schemas/user.ts
  server/src/routes/v1/auth.ts
  server/src/sockets/socketHandler.ts
  server/src/types/common.ts
  server/src/types/friendRequest.ts
  server/src/types/index.ts
  server/src/types/user.ts
  server/src/utils/consts.util.ts
Labels: state, translation, hooks, client-api, components, screens, utils, client-types

feat(friendrequest): added
  app/src/api/SocketController.ts
  app/src/api/friends.ts
  app/src/api/privateFetch.ts
  app/src/api/publicFetch.ts
  app/src/components/FriendListItem.tsx
  app/src/components/FriendRequestHandler.tsx
  app/src/components/MainBtn.tsx
  app/src/i18n/locales/en.json
  app/src/i18n/locales/he.json
  app/src/redux/slices/userSlice.ts
  app/src/routes/PrivateRoutes.tsx
  app/src/routes/Tab.tsx
  app/src/types/api.ts
  app/src/types/user.ts
  app/src/utils/consts.ts
  server/__tests__/mocks/index.ts
  server/__tests__/mocks/users.ts
  server/__tests__/tests/auth/register.test.ts
  server/__tests__/utils/index.ts
  server/__tests__/utils/sendRequest.ts
  server/__tests__/utils/signIn.ts
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/controllers/auth.ts
  server/src/controllers/friends.ts
  server/src/db/schemas/friendRequest.ts
  server/src/db/schemas/user.ts
  server/src/routes/v1/friends.ts
  server/src/types/common.ts
  server/src/types/friendRequest.ts
  server/src/utils/consts.util.ts
Labels: state, translation, client-api, components, utils, client-types

feat(app and server): friend request added
  app/src/api/SocketController.ts
  app/src/api/friends.ts
  app/src/components/FriendRequestHandler.tsx
  app/src/components/MainBtn.tsx
  app/src/i18n/locales/en.json
  app/src/i18n/locales/he.json
  app/src/redux/slices/userSlice.ts
  app/src/routes/Tab.tsx
  app/src/screens/FriendRequests/FriendRequests.tsx
  app/src/screens/Settings/Settings.tsx
  app/src/screens/Social/Social.tsx
  app/src/styles/themes/general.ts
  app/src/types/friends.ts
  app/src/types/index.ts
  app/src/types/navigation.ts
  app/src/utils/consts.ts
  app/src/utils/friends.ts
  app/src/utils/index.ts
  server/src/controllers/friends.ts
  server/src/routes/v1/friends.ts
  server/src/types/user.ts
  server/src/utils/consts.util.ts
Labels: state, translation, client-api, components, screens, styles, utils, client-types

feat(game): game schema and game img schema added
  .DS_Store
  app/package-lock.json
  app/package.json
  app/src/api/auth.ts
  app/src/api/dares.ts
  app/src/api/index.ts
  app/src/assets/dares/exclamationMark.png
  app/src/assets/dares/questionMark.png
  app/src/components/Dare/Dare.tsx
  app/src/components/ImgUploadAndTag.tsx
  app/src/hooks/index.ts
  app/src/hooks/useDares.ts
  app/src/i18n/locales/en.json
  app/src/i18n/locales/he.json
  app/src/routes/PrivateRoutes.tsx
  app/src/screens/CreateGame/CreateGame.tsx
  app/src/screens/Home/Home.tsx
  app/src/screens/LocalGame/LocalGame.tsx
  app/src/screens/OnlineGame/OnlineGame.tsx
  app/src/styles/themes/general.ts
  app/src/types/dare.ts
  app/src/types/index.ts
  app/src/types/navigation.ts
  app/src/utils/animations.ts
  app/src/utils/assets.ts
  app/src/utils/formatters.ts
  app/src/utils/imgs.ts
  app/src/utils/index.ts
  app/src/utils/time.ts
  app/yarn.lock
  server/src/controllers/dare.ts
  server/src/controllers/index.ts
  server/src/db/schemas/game.ts
  server/src/db/schemas/gameImg.ts
  server/src/routes/v1/dare.ts
  server/src/routes/v1/friends.ts
  server/src/routes/v1/index.ts
  server/src/types/game.ts
  server/src/types/index.ts
Labels: assets, translation, hooks, client-api, components, screens, styles, utils, client-types, package

refactor(redux): moved actions to seperated folder
  README.md
  app/src/api/friends.ts
  app/src/api/game.ts
  app/src/api/index.ts
  app/src/components/Dare/Dare.tsx
  app/src/components/FloatingBtn.tsx
  app/src/components/ImgUploadAndTag.tsx
  app/src/redux/actions/game.ts
  app/src/redux/actions/index.ts
  app/src/redux/actions/styles.ts
  app/src/redux/actions/user.ts
  app/src/redux/slices/gameSlice.ts
  app/src/redux/slices/index.ts
  app/src/redux/slices/stylesSlice.ts
  app/src/redux/slices/userSlice.ts
  app/src/redux/store.ts
  app/src/routes/RoutesContainer.tsx
  app/src/screens/Login/Login.tsx
  app/src/screens/Register/Register.tsx
  app/src/screens/Settings/Settings.tsx
  app/src/types/game.ts
  app/src/types/index.ts
  server/src/controllers/game.ts
  server/src/controllers/index.ts
  server/src/db/schemas/game.ts
  server/src/db/schemas/gameImg.ts
  server/src/routes/v1/dare.ts
  server/src/routes/v1/friends.ts
  server/src/routes/v1/game.ts
  server/src/routes/v1/index.ts
  server/src/utils/index.ts
  server/src/utils/sockets.util.ts
Labels: state, client-api, components, screens, client-types

feat(redux): persist added
  app/App.tsx
  app/package-lock.json
  app/package.json
  app/src/redux/store.ts
  app/yarn.lock
Labels: state, package, app

feat(game): added
  app/.eslintignore
  app/.eslintrc.js
  app/scripts/addT.js
  app/src/api/game.ts
  app/src/components/Dare/Dare.tsx
  app/src/components/FloatingBtn.tsx
  app/src/components/If.tsx
  app/src/components/ImgUploadAndTag.tsx
  app/src/components/Txts/Txt.tsx
  app/src/i18n/locales/en.json
  app/src/i18n/locales/he.json
  app/src/redux/actions/game.ts
  app/src/redux/slices/gameSlice.ts
  app/src/screens/Home/Home.tsx
  app/src/screens/LocalGame/LocalGame.tsx
  app/src/types/game.ts
  app/src/utils/consts.ts
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/controllers/dare.ts
  server/src/controllers/game.ts
  server/src/db/schemas/game.ts
  server/src/routes/v1/dare.ts
  server/src/routes/v1/game.ts
  server/src/routes/v1/index.ts
  server/src/types/express/index.d.ts
  server/src/types/game.ts
  server/src/types/index.ts
  server/src/utils/sockets.util.ts
  server/tsconfig.json
Labels: state, translation, client-api, components, screens, utils, client-types

fix(img): upload
  app/src/api/SocketController.ts
  app/src/components/CameraPicker.tsx
  app/src/components/Dare/Dare.tsx
  app/src/components/FloatingBtn.tsx
  app/src/components/ImgUploadAndTag.tsx
  app/src/components/Tag.tsx
  app/src/i18n/locales/en.json
  app/src/i18n/locales/he.json
  app/src/routes/PrivateRoutes.tsx
  app/src/screens/AddImgScreen/AddImgScreen.tsx
  app/src/screens/LocalGame/LocalGame.tsx
  app/src/types/navigation.ts
Labels: translation, client-api, components, screens, client-types

feat(imgs): upload and tag complete
  app/src/api/game.ts
  app/src/components/Avatar.tsx
  app/src/components/Dare/Dare.tsx
  app/src/components/Tag.tsx
  app/src/i18n/locales/en.json
  app/src/i18n/locales/he.json
  app/src/redux/actions/game.ts
  app/src/redux/slices/gameSlice.ts
  app/src/screens/AddImgScreen/AddImgScreen.tsx
  app/src/screens/Home/Home.tsx
  app/src/types/api.ts
  app/src/utils/consts.ts
Labels: state, translation, client-api, components, screens, utils, client-types
